@charset "UTF-8";
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Regular.eot");
  src: url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Regular.woff2") format("woff2"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Regular.woff") format("woff"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Regular.ttf") format("truetype"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Regular.svg#EuclidCircularA-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Bold.eot");
  src: url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Bold.woff2") format("woff2"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Bold.woff") format("woff"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Bold.ttf") format("truetype"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Bold.svg#EuclidCircularA-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Medium.eot");
  src: url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Medium.woff2") format("woff2"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Medium.woff") format("woff"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Medium.ttf") format("truetype"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-Medium.svg#EuclidCircularA-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-SemiBold.eot");
  src: url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-SemiBold.woff2") format("woff2"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-SemiBold.woff") format("woff"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-SemiBold.ttf") format("truetype"), url("../fonts/euclid-circular-a-cufonfonts/EuclidCircularA-SemiBold.svg#EuclidCircularA-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  max-width: 1440px;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  padding: 24px 72px 32px;
}
@media (max-width: 1435px) {
  .header__body {
    padding: 15px 72px 20px;
  }
}
@media (max-width: 1024px) {
  .header__body {
    margin: 0;
    justify-content: center;
    padding: 10px 15px 10px;
    margin: 0;
  }
}
.header__logo {
  display: block;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
  color: #374151;
  text-align: center;
}
@media (max-width: 1024px) {
  .header__logo {
    display: none;
  }
}
.header__search {
  flex: 0 1 280px;
  position: relative;
  margin: 0 15px;
  padding: 3px 0;
  display: flex;
}
.header__search span svg {
  position: absolute;
  top: 0;
  left: 0;
}
.header__search span svg path {
  stroke: #9ca3af;
}
.header__search input {
  color: #1f2937;
  background: #fafafa;
  font-size: 16px;
  letter-spacing: 0.32px;
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 1px solid #9ca3af;
  padding-left: 24px;
}
.header__search input:focus {
  border-bottom: 1px solid #1f2937;
}
.header__search input:focus + span svg path {
  stroke: #1f2937;
}
.header__search input::-moz-placeholder {
  color: #9ca3af;
}
.header__search input::placeholder {
  color: #9ca3af;
}
@media (max-width: 1024px) {
  .header__search {
    flex: 1 1 auto;
  }
}

/*input:focus + span svg path {
    stroke: #1f2937;
} */
.menu-header {
  display: flex;
}
.menu-header__list {
  display: flex;
}
.menu-header__link {
  display: flex;
  align-items: center;
  margin-left: 40px;
  font-size: 1rem;
  letter-spacing: normal;
  letter-spacing: 0.32px;
}
.menu-header__link a {
  color: #6b7280;
}
.menu-header__link svg {
  margin-left: 8px;
}
.menu-header__link svg path {
  fill: #6b7280;
}
.menu-header__link:first-child {
  margin-left: 0px;
}
.menu-header__link:hover a {
  color: #1f2937;
  font-weight: 600;
}
.menu-header__link:hover svg path {
  fill: #1f2937;
}
@media (max-width: 1024px) {
  .menu-header {
    display: none;
  }
}

.header__links {
  padding: 21px 42px 21px 72px;
}
@media (max-width: 1435px) {
  .header__links {
    padding: 15px 42px 15px 72px;
  }
}
@media (max-width: 1024px) {
  .header__links {
    display: none;
    z-index: 1;
    margin-top: 0;
    min-height: 100vh;
    padding: 0;
    overflow: scroll;
  }
}

.links-header {
  background-color: #fff;
}

.links-header__list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .links-header__list {
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .links-header__list {
    padding: 0 20px;
    grid-template-columns: 50% 50%;
  }
}

.links-header__link {
  display: flex;
  align-items: center;
  padding-right: 36px;
}
@media (max-width: 1435px) {
  .links-header__link {
    padding-bottom: 10px;
  }
}
.links-header__link span {
  display: inline-block;
  margin-left: 8px;
  font-size: 13px;
  background-color: #eb5757;
  padding: 4px 8px;
  border-radius: 2px;
  color: #fff;
  letter-spacing: 0.28px;
}
.links-header__link a {
  font-size: 14px;
  color: #374151;
  font-weight: 600;
  letter-spacing: 0.28px;
  padding: 1.5px 0;
  position: relative;
}
@media (min-width: 1024px) {
  .links-header__link a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 50%;
    background-color: #374151;
    transition: all 0.4s ease 0s;
  }
  .links-header__link a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: -3px;
    right: 50%;
    background-color: #374151;
    transition: all 0.4s ease 0s;
  }
  .links-header__link a:hover::before {
    width: 50%;
    left: 0;
    transition: all 0.4s ease 0s;
  }
  .links-header__link a:hover::after {
    width: 50%;
    right: 0;
    transition: all 0.4s ease 0s;
  }
}
.links-header__link:last-child {
  padding-right: 0;
}
@media (max-width: 1024px) {
  .links-header__link {
    border: 1px solid #1f2937;
    justify-content: center;
    padding: 0;
    height: 50px;
    padding: 0 5px;
  }
  .links-header__link span {
    display: none;
  }
}

.baner {
  display: flex;
}
.baner__body {
  background-color: #192030;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  height: 645px;
}
.baner__body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("/images/Mask.png");
}
@media (max-width: 1024px) {
  .baner__body {
    width: 100%;
    height: auto;
    justify-content: center;
  }
}
.baner__image {
  background: #f7c59f;
  width: 510px;
  position: relative;
}
.baner__image::before {
  position: absolute;
  content: "";
  width: 347px;
  height: 347px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fafafa;
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .baner__image {
    width: 100%;
    height: 350px;
  }
  .baner__image::before {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1024px) {
  .baner {
    flex-direction: column;
  }
}

.body-baner__container {
  z-index: 1;
  background: #1F2937;
  margin: 130px 96px;
  padding: 40px;
}
@media (max-width: 1024px) {
  .body-baner__container {
    margin: 60px;
  }
}
@media (max-width: 540px) {
  .body-baner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
}
.body-baner__text {
  font-size: 56px;
  color: #fafafa;
  font-weight: 600;
  padding-bottom: 16px;
}
.body-baner__text span {
  color: #f7c59f;
}
@media (max-width: 1260px) {
  .body-baner__text {
    font-size: 42px;
  }
}
@media (max-width: 1114px) {
  .body-baner__text {
    font-size: 36px;
  }
}
@media (max-width: 540px) {
  .body-baner__text {
    font-size: 24px;
    text-align: center;
  }
}
.body-baner__description {
  padding-top: 8px;
  padding-bottom: 56px;
  font-size: 18px;
  letter-spacing: 0.36px;
  color: #f3f4f6;
}
@media (max-width: 540px) {
  .body-baner__description {
    font-size: 14px;
    text-align: center;
    padding-bottom: 30px;
  }
}
.body-baner__button {
  color: #fafafa;
  background: #1F2937;
}
.body-baner__button:hover {
  background: #2d3c50;
}

.image-container__image img {
  position: absolute;
  content: "";
  width: 312px;
  height: 607px;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .image-container__image img {
    width: 156px;
    height: 303.5px;
    top: 24px;
  }
}

.weeks-highlights {
  margin-top: 120px;
}
@media (max-width: 1024px) {
  .weeks-highlights {
    margin-top: 40px;
  }
}
.weeks-highlights__title {
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .weeks-highlights__title {
    margin-bottom: 30px;
  }
}

.content-weeks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.content-weeks__row {
  display: flex;
  width: 100%;
  gap: 20px;
}
@media (max-width: 1024px) {
  .content-weeks__row {
    flex-wrap: wrap;
  }
}
.content-weeks__card {
  flex: 0 0 466px;
}
@media (max-width: 1024px) {
  .content-weeks__card {
    flex: 1 1 100%;
    min-width: 0;
  }
}
.content-weeks__card_big {
  flex: 1 1 auto;
  min-width: 466px;
}
@media (max-width: 1024px) {
  .content-weeks__card_big {
    flex: 1 1 100%;
    min-width: 0;
  }
}

.card-content {
  position: relative;
  padding: 173px 20px 191px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content__bg {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-content__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-content__title {
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 1.12px;
  color: #fafafa;
  text-align: center;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
  line-height: 1.25;
}
@media (max-width: 860px) {
  .card-content__title {
    font-size: 32px;
  }
}
@media (max-width: 860px) {
  .card-content {
    padding: 150px 20px 180px;
  }
}

.info-card-content {
  position: absolute;
  content: "";
  left: 20px;
  bottom: 20px;
  padding: 10px 12px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border: solid 1px rgba(249, 250, 251, 0.05);
  background-color: rgba(0, 0, 0, 0.3);
}
.info-card-content__title {
  padding-bottom: 8px;
  font-size: 18px;
  letter-spacing: 0.36px;
  color: #f9fafb;
  font-weight: 600;
}
@media (max-width: 860px) {
  .info-card-content__title {
    font-size: 16px;
  }
}
.info-card-content__price {
  padding-bottom: 16px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.72px;
  font-weight: 500;
  color: #f3f4f6;
}
.info-card-content__discount {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #f9fafb;
}
.info-card-content__discount span {
  font-weight: 500;
}
@media (max-width: 860px) {
  .info-card-content {
    left: 5px;
    bottom: 5px;
    padding: 10px 5px;
  }
}

.popular {
  margin-top: 168px;
}
@media (max-width: 1024px) {
  .popular {
    margin-top: 40px;
  }
}
.popular__title {
  margin-bottom: 68px;
}
@media (max-width: 1024px) {
  .popular__title {
    margin-bottom: 30px;
  }
}
.popular__cards {
  display: grid;
  grid-template-columns: repeat(4, 297px);
  justify-content: center;
  gap: 35px;
}
@media (max-width: 1306px) {
  .popular__cards {
    grid-template-columns: repeat(3, 297px);
  }
}
@media (max-width: 970px) {
  .popular__cards {
    grid-template-columns: repeat(2, 297px);
  }
}
@media (max-width: 640px) {
  .popular__cards {
    grid-template-columns: 297px;
  }
}
.card-popular__image {
  width: 297px;
  height: 343px;
  position: relative;
  margin-bottom: 8px;
}
.card-popular__image img {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-popular__description {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.28px;
  margin-bottom: 8px;
}
.card-popular__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-popular__price {
  padding-right: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #374151;
}
.card-popular__sale {
  flex: 1 1 auto;
  color: #9ca3af;
  font-size: 16px;
}
.card-popular__button {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #374151;
}
.card-popular__button:hover {
  text-decoration: underline;
}

.brands {
  margin-top: 160px;
}
.brands__title {
  margin-bottom: 68px;
}
@media (max-width: 1024px) {
  .brands__title {
    margin-bottom: 30px;
  }
}
.brands__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .brands__items {
    gap: 10px;
  }
}
.brands__item {
  margin: 0 28px;
  width: 80px;
  height: 80px;
  position: relative;
}
.brands__item img {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1025px) {
  .brands__item img {
    transition: all 0.4s ease 0s;
  }
  .brands__item img:hover {
    transform: scale(105%);
    transition: all 0.4s ease 0s;
  }
}
@media (max-width: 1024px) {
  .brands {
    margin-top: 40px;
  }
}

.season-collection {
  margin-top: 168px;
  padding: 194px 16px 34px;
  position: relative;
}
@media (max-width: 1024px) {
  .season-collection {
    margin-top: 40px;
  }
}
@media (max-width: 860px) {
  .season-collection {
    padding: 95px 16px 30px;
  }
}
.season-collection__bg {
  width: 100%;
  height: 100%;
}
.season-collection__bg img {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.season-collection__title {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  color: #0d3f64;
  margin-bottom: 32px;
}
.season-collection__title span {
  color: #DE4F46;
}
@media (max-width: 540px) {
  .season-collection__title {
    font-size: 32px;
  }
}
.season-collection__button {
  margin-bottom: 194px;
  color: #eb5757;
  border: solid 1px #fafafa;
  background-color: #fafafa;
}
.season-collection__button:hover {
  background-color: #d8d8d8;
}
.season-collection__button svg path {
  fill: #eb5757;
}
@media (max-width: 540px) {
  .season-collection__button {
    margin-bottom: 95px;
  }
}

.timer-season {
  display: flex;
  gap: 55px;
}
@media (max-width: 540px) {
  .timer-season {
    gap: 25px;
  }
}
.timer-season__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.timer-season__info::before {
  position: absolute;
  content: ":";
  font-size: 24px;
  color: #9fc9e7;
  top: 0px;
  right: -30px;
}
@media (max-width: 540px) {
  .timer-season__info::before {
    font-size: 14px;
    right: -18px;
  }
}
.timer-season__info:last-child::before {
  content: none;
}
.timer-season__time {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.24px;
  padding-bottom: 9px;
}
@media (max-width: 540px) {
  .timer-season__time {
    font-size: 18px;
  }
}
.timer-season__moment {
  font-size: 12px;
  font-weight: normal;
  color: #fff;
}

.ladies-top-baner__content {
  margin-top: 48px;
  padding: 28px 100px 24px 24px;
  background-color: #111827;
  position: relative;
  z-index: 1;
}
@media (max-width: 1300px) {
  .ladies-top-baner__content {
    margin-top: 0px;
  }
}
.ladies-top-baner__content img {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 860px) {
  .ladies-top-baner__content img {
    display: none;
  }
}
@media (max-width: 860px) {
  .ladies-top-baner__content {
    padding: 28px 24px;
  }
}
.ladies-top-baner__title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.4px;
}
.ladies-top-baner__text {
  margin-top: 23px;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #d1d5db;
  line-height: 1.1;
}
.ladies-top-baner__link {
  font-weight: bold;
  color: #f9fafb;
  position: relative;
}
@media (min-width: 1024px) {
  .ladies-top-baner__link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 50%;
    background-color: #f9fafb;
    transition: all 0.4s ease 0s;
  }
  .ladies-top-baner__link::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    bottom: -3px;
    right: 50%;
    background-color: #f9fafb;
    transition: all 0.4s ease 0s;
  }
  .ladies-top-baner__link:hover::before {
    width: 50%;
    left: 0;
    transition: all 0.4s ease 0s;
  }
  .ladies-top-baner__link:hover::after {
    width: 50%;
    right: 0;
    transition: all 0.4s ease 0s;
  }
}

.filter {
  display: none;
}
@media (max-width: 1300px) {
  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
  }
}
.filter__title {
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.filter__title::before {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='undefined' height='undefined' viewBox='0 0 24 24'><path fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M22 3H2l8 9.46V19l4 2v-8.54L22 3z'/%3E%3C/svg%3E ");
  right: -18px;
  top: 0px;
  width: 16px;
  height: 16px;
}

.button-close {
  display: flex;
  justify-content: end;
}

.close {
  display: flex;
  max-height: 16px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background: transparent;
  color: #374151;
}

.aside {
  flex: 1 0 338px;
  background-color: #f9fafb;
  padding: 40px 24px;
}
@media (max-width: 1300px) {
  .aside {
    width: 330px;
    position: absolute;
    left: -100%;
    transition: all 0.3s ease 0s;
    z-index: -1;
    visibility: hidden;
  }
}
.aside__column {
  margin-bottom: 54px;
}
.aside__column:last-child {
  margin-bottom: 0;
}

.mobile-aside-active {
  display: block;
  position: fixed;
  width: 320px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
  visibility: visible;
  transition: all 0.3s ease 0s;
  z-index: 3;
  padding: 20px 24px 80px;
}

.column-aside__title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
  color: #1f2937;
  margin-bottom: 32px;
}
.column-aside__title:first-child {
  margin-bottom: 24px;
}
.column-aside__range-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.column-aside__item {
  font-size: 14px;
  letter-spacing: 0.28px;
  color: #1f2937;
  padding-bottom: 20px;
}
.column-aside__more {
  font-size: 14px;
  letter-spacing: 0.28px;
  color: #eb5757;
  padding-left: 34px;
}

.info-range__text {
  font-size: 14px;
  letter-spacing: 0.28px;
  color: #4b5563;
}
.info-range__price {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  color: #1f2937;
}
.info-range__range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 284px;
  height: 4px;
  background: #E3E3E6;
}
.info-range__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border: solid 2px #fff;
  background: coral;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox {
  position: relative;
  padding-left: 34px;
  cursor: pointer;
}
.checkbox input {
  display: none;
}
.checkbox::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0;
  width: 18px;
  height: 18px;
  border: solid 1.5px #374151;
}

.active::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #374151;
}

.products-sorting {
  margin-top: 56px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1300px) {
  .products-sorting {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}
@media (max-width: 500px) {
  .products-sorting {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
  }
}
.products-sorting p {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.32px;
  font-weight: 600;
  color: #1f2937;
}
.products-sorting span {
  color: #4b5563;
}
.products-sorting__sort {
  display: flex;
  gap: 8px;
}
.products-sorting__popup {
  position: absolute;
  content: "";
  border: 1px solid #1f2937;
  border-top: none;
  width: 180px;
  padding: 10px;
  right: 0;
  top: 20px;
  background: #fff;
}

.sort-items {
  padding-right: 19px;
  position: relative;
}
.sort-items svg {
  position: absolute;
  content: "";
  top: 5px;
  right: 0;
  width: 13px;
  height: 8px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.сhoice-sorting svg {
  transform: rotate(180deg);
  transition: all 0.4s ease 0s;
}

.popup-sorting {
  display: block;
  background: #fff;
  transition: all 0.4s ease 0s;
  z-index: 2;
}
.popup-sorting__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup-sorting__item {
  cursor: pointer;
}
.popup-sorting__item:hover {
  text-decoration: underline;
}

.chosen {
  font-weight: 600;
}

.products {
  display: flex;
  gap: 20px;
  position: relative;
  margin-bottom: 48px;
}
@media (max-width: 1300px) {
  .products {
    display: block;
  }
}
.products__body {
  flex: 1 1 auto;
}

.no-scroll {
  scroll-behavior: smooth;
}

.products__cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 1300px) {
  .products__cards {
    justify-content: center;
  }
}
.products__card {
  border: solid 1px #e5e7eb;
  width: 297px;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
}
.card__wish {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card__wish svg {
  width: 20.9px;
  height: 18.2px;
}
.card__image {
  width: 100%;
  height: 343px;
}
.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__content {
  flex: 1 1 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.card__description {
  flex: 1 1 auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.28px;
  color: #1f2937;
  margin-bottom: 15px;
}
.active-wish svg {
  fill: #eb5757;
}
.active-wish svg path {
  stroke: #eb5757;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.footer-card__prices {
  font-size: 18px;
}
.footer-card__price {
  font-weight: 600;
  color: #374151;
  margin-bottom: 7px;
}
.footer-card__sale {
  color: #9ca3af;
  text-decoration: line-through;
}
.footer-card__counts {
  font-size: 16px;
  color: #4b5563;
  margin-bottom: 7px;
  text-align: right;
}
.footer-card__new {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 12px;
  background-color: #111827;
  font-size: 12px;
  color: #fff;
}

.footer {
  margin-top: 168px;
  background-color: #f9fafb;
  padding: 62px 0;
}
.footer__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1023px) {
  .footer__body {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }
}
@media (max-width: 1023px) {
  .footer {
    margin-top: 0;
    padding-bottom: 55px;
    padding-top: 30px;
  }
}

.block-socials {
  grid-row-start: span 2;
  grid-column-start: span 1;
}

.block-links__columns {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
@media (max-width: 1023px) {
  .block-links__columns {
    margin-bottom: 20px;
    justify-content: space-around;
  }
}
@media (max-width: 680px) {
  .block-links__columns {
    grid-template-columns: 1fr 1fr;
  }
}
.column-links__title {
  margin-bottom: 16px;
}
.column-links__item {
  margin-bottom: 8px;
}

.platform-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 400px) {
  .platform-links {
    flex-direction: column;
    gap: 0;
  }
}
.platform-links__title {
  margin-bottom: 16px;
}
@media (max-width: 400px) {
  .platform-links__title {
    margin-bottom: 10px;
  }
}
.platform-links__list {
  display: flex;
  gap: 17px;
  margin-bottom: 41px;
}
@media (max-width: 400px) {
  .platform-links__list {
    margin-bottom: 30px;
  }
}
.platform-links__link a {
  display: block;
  width: 32px;
  height: 32px;
}
.platform-links__link a:hover svg path {
  fill: #6b7280;
}

.footer-form {
  margin-bottom: 62px;
}
.footer-form__description {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: #1f2937;
  letter-spacing: 0.7px;
  font-weight: 500;
}
.footer-form__form {
  display: flex;
  margin-bottom: 18px;
}
@media (max-width: 500px) {
  .footer-form__form {
    flex-direction: column;
    gap: 15px;
  }
}
.footer-form__input {
  flex: 1 1 auto;
  padding: 13px 16px;
  border: solid 1px #9ca3af;
  background-color: #fff;
  font-size: 16px;
  color: #1f2937;
  font-weight: 600;
}
.footer-form__input::-moz-placeholder {
  color: #6b7280;
  font-size: 14px;
  letter-spacing: 0.7px;
}
.footer-form__input::placeholder {
  color: #6b7280;
  font-size: 14px;
  letter-spacing: 0.7px;
}
.footer-form__input:focus {
  box-shadow: 0px 0px 4px 0px rgba(31, 41, 55, 0.2) inset;
}
.footer-form__button {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: 600;
  padding: 13px 30px;
  color: #fff;
  background-color: #1f2937;
  margin-left: 8px;
  transition: all 0.3s ease 0s;
}
.footer-form__button:hover {
  background-color: #38475c;
  transition: all 0.3s ease 0s;
}
.footer-form__button:focus {
  transition: all 0.2s ease 0s;
  transform: scale(97%);
}
@media (max-width: 500px) {
  .footer-form__button {
    width: 150px;
    margin-left: 0;
  }
}
.footer-form__text {
  font-size: 12px;
  letter-spacing: 0.6px;
  font-weight: 500;
  color: #6b7280;
}
.footer-form__text a {
  text-decoration: underline;
  color: #0f4fce;
}
@media (max-width: 1023px) {
  .footer-form {
    margin-bottom: 30px;
  }
}

.payments {
  margin-bottom: 62px;
}
.payments__title {
  margin-bottom: 24px;
}
@media (max-width: 500px) {
  .payments__title {
    margin-bottom: 15px;
  }
}
.payments__items {
  display: grid;
  grid-template-columns: repeat(8, 52px);
  gap: 8px;
}
@media (max-width: 500px) {
  .payments__items {
    display: flex;
    flex-wrap: wrap;
  }
}
.payments__links {
  width: 100%;
  height: 32px;
  position: relative;
}
.payments__links a img {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 500px) {
  .payments__links {
    flex: 0 0 52px;
  }
}
@media (max-width: 500px) {
  .payments {
    margin-bottom: 24px;
  }
}

.block-license {
  padding-top: 4px;
}
.block-license__info {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #6b7280;
  margin-bottom: 24px;
}
.block-license__links {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.block-license__link {
  padding-right: 20px;
  position: relative;
}
.block-license__link::before, .block-license__link::after {
  position: absolute;
  content: "";
}
.block-license__link::before {
  bottom: -5px;
  left: 0;
  height: 2px;
  width: calc(100% - 20px);
  background: #6b7280;
}
.block-license__link::after {
  right: 0px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e5e7eb;
}
.block-license__link:last-child::after {
  content: none;
}
.block-license__link a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #6b7280;
}

.footer-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #1f2937;
}

.footer-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #6b7280;
}

html, body {
  font-family: "Euclid Circular A";
  height: 100%;
  width: 100%;
}

._lock {
  overflow: hidden;
}

.container {
  max-width: 1306px;
  margin: 0 auto;
  padding: 0 5px;
  width: 100%;
}

.wrapper {
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  color: #374151;
  display: flex;
  flex-direction: column;
  position: relative;
}

._lock-wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 3;
  opacity: 0.8;
}

.content {
  flex: 1 1 auto;
  margin-top: 150px;
}
@media (max-width: 1435px) {
  .content {
    margin-top: 155px;
  }
}
@media (max-width: 1024px) {
  .content {
    margin-top: 50px;
  }
}

.title-section {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: #374151;
  text-align: center;
  position: relative;
}
.title-section::before {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 50%;
  width: 88px;
  height: 4px;
  background: #374151;
  transform: translateX(-50%);
  border-radius: 2px;
}

.button {
  font-size: 16px;
  letter-spacing: 0.32px;
  font-weight: 600;
  padding: 12px 16px;
  border: solid 1px #fafafa;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
}
.button svg {
  margin-left: 16px;
  transform: translateY(-1px);
}
.button:hover {
  transition: all 0.2s ease 0s;
}
.button:focus {
  transition: all 0.2s ease 0s;
  transform: scale(97%);
}
@media (max-width: 540px) {
  .button {
    width: 200px;
    font-size: 14px;
  }
  .button svg {
    display: none;
  }
}

/*====================mobile menu===================*/
.mobile {
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fafafa;
  padding: 5px;
}

.mobile__link {
  padding: 5px;
  border-radius: 50%;
}

.nav-mobile-svg {
  width: 30px;
  height: 30px;
}
.nav-mobile-svg path {
  fill: #374151;
}

.mobile-link-active {
  background-color: #374151;
}
.mobile-link-active .nav-mobile-svg path {
  fill: #fafafa;
}

@media (min-width: 1025px) {
  .mobile {
    display: none;
  }
}
/*====================/mobile menu===================*/
/*.bg-img {

}*/
._hide {
  display: none;
  overflow: hidden;
}