.season-collection {
    margin-top: 168px;
    padding: 194px 16px 34px;
    position: relative;
    @media (max-width:1024px) {
        margin-top: 40px;
    }
    @media (max-width:860px) {
        padding: 95px 16px 30px;
    }
    &__bg {
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

    &__body {
        
    }

    &__title {
        font-size: 40px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -0.4px;
        color: #0d3f64;
        margin-bottom: 32px;
        span {
            color: #DE4F46;
        }
        @media(max-width: 540px) {
                font-size: 32px;
            }
    }

    &__button {
        margin-bottom: 194px;
        color: #eb5757;
        border: solid 1px #fafafa;
        background-color: #fafafa;
        &:hover {
            background-color: #d8d8d8;
        }
        svg path{
            fill: #eb5757;

        }
        @media(max-width: 540px) {
            margin-bottom: 95px;
            
        }
    }

    &__timer {
    }
}




.timer-season {
    display: flex;
    gap: 55px;
    @media(max-width: 540px) {
        gap: 25px; 
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::before{
            position: absolute;
            content: ':';
            font-size: 24px;
            color: #9fc9e7;
            top: 0px;
            right: -30px;
            @media(max-width: 540px) {
                font-size: 14px;
                right: -18px;
            }
        }
        &:last-child {
            &::before{
                content: none;
            }
        }
    }

    &__time {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.24px;
        padding-bottom: 9px;
        @media(max-width: 540px) {
            font-size: 18px;
        }
    }

    &__moment {
        font-size: 12px;
    font-weight: normal;
    color: #fff;
    }
}
