@import "_fonts";
@import "_nullstyle";


$maxWidth: 1440px;
$maxWidthContainer: 1306px;
$color: #374151;

@import "_header";

// Home page styles
@import "home-page/_baner";
@import "home-page/_section-weeks";
@import "home-page/_section-popular";
@import "home-page/_brands";
@import "home-page/_season-collections";

@import "products-page/_ladies-top-baner";


@import "_footer";








body {
    font-family: 'Euclid Circular A';
}

.container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 5px;
    width: 100%;
}

.wrapper {
    max-width: $maxWidth;
    min-height: 100%;
    margin: 0 auto;
    color: $color;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
   // padding: 0 30px;
    flex: 1 1 auto;
    margin-top: 150px;
    @media(max-width: 1435px) {
       
        margin-top: 155px; 
    }
    @media (max-width:1024px){
        
        margin-top: 50px; 
    }
}

.title-section {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: $color;
    text-align: center;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        bottom: -12px;
        left: 50%;
        width: 88px;
        height: 4px;
        background: $color;
        transform: translateX(-50%);
        border-radius: 2px;
    }
   
    
}
.button {
    font-size: 16px;
        letter-spacing: 0.32px;
        font-weight: 600;
        padding: 12px 16px;
        border: solid 1px #fafafa;
        text-transform: uppercase;
        transition: all 0.2s ease 0s;
        svg {
            margin-left: 16px;
            transform: translateY(-1px);
        }

        &:hover {
            transition: all 0.2s ease 0s;
        }

        &:focus {
            transition: all 0.2s ease 0s;
            transform: scale(97%);
            
        }
        @media(max-width: 540px) {
            width: 200px;
            font-size: 14px;
            svg {
                display: none;
            }
        }
   }





/*====================mobile menu===================*/
.mobile {
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    padding: 5px;
}
.mobile__link {
    padding: 5px;
    border-radius: 50%;
}
.nav-mobile-svg {
    width: 30px;
    height: 30px;
    path {
        fill: #374151;
    }
}
.mobile-link-active {
    background-color: #374151; 
    .nav-mobile-svg {
        path {
            fill: #fafafa;
        }
        
    }
}
@media (min-width:1025px){
    .mobile {
        display: none;
    }
}
/*====================/mobile menu===================*/

/*.bg-img {
    
}*/