@import "_fonts";
@import "_nullstyle";
@import "mixins-and-functions";

//Адаптивное свойство
$maxWidth: 1440px;
$maxWidthContainer: 1316px;

$color: #374151;

@import "_header";

body {
    font-family: 'Euclid Circular A';
}

.container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    max-width: $maxWidth;
    min-height: 100%;
    margin: 0 auto;
    color: $color;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
   // padding: 0 30px;
    flex: 1 1 auto;
    margin-top: 150px;
    @media(max-width: 1435px) {
       
        margin-top: 155px; 
    }
    @media (max-width:1023px){
        
        margin-top: 50px; 
    }
}

.footer {
    background-color: green;

    @media (max-width:1023px){
            padding-bottom: 55px;
        }
}




/*====================mobile menu===================*/
.mobile {
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    padding: 5px;
}
.mobile__link {
    padding: 5px;
    border-radius: 50%;
}
.nav-mobile-svg {
    width: 30px;
    height: 30px;
    path {
        fill: #374151;
    }
}
.mobile-link-active {
    background-color: #374151; 
    .nav-mobile-svg {
        path {
            fill: #fafafa;
        }
        
    }
}
@media (min-width:1024px){
    .mobile {
        display: none;
    }
}
/*====================/mobile menu===================*/

