

.filter {
    display: none;
   
    @media (max-width:1293px){
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 330px;
        padding: 20px 24px;
        position: relative;
        z-index: 3;
       // border: 0.5px solid #fff;
        //background: #3ec0ef;
    }

    &__title {
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        &::before{
            position: absolute;
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='undefined' height='undefined' viewBox='0 0 24 24'><path fill='none' stroke='grey' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M22 3H2l8 9.46V19l4 2v-8.54L22 3z'/%3E%3C/svg%3E ");
            right: -18px;
            top: 0px;
            width: 16px;
            height: 16px;
            
        }
    }

   
}
.button-close {
    display: flex;
    justify-content: end;
}
.close {
    display: flex;
   
    max-height: 16px;
    align-items: center;
    justify-content: center;
    //font-weight: 800;
    font-size: 16px;
    background: transparent;
    color: #374151;
}
._border {
    background-color: #f9fafb;
    //border: 0.5px solid #e9eaea;
    transition: all 0.4 ease 0s;
}

._hide {
    display: none;
}



.aside {
    
        flex: 1 0 338px;
        background-color: #f9fafb;
        padding: 40px 24px;

        @media (max-width:1293px){
           width: 330px;
           //display: none;
           position: absolute;
           left: -100%;
           transition: all 0.3s ease 0s;
           z-index: -1;
          visibility: hidden;
        }
    

    &__columns {
       
    }

    &__column {
        margin-bottom: 54px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    
}

.mobile-aside-active{
    display: block;

    position: fixed;
   // width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    //top: 55px;left: 0;
    z-index: 1;
    visibility: visible;
    transition: all 0.3s ease 0s;
    z-index: 3;
    padding: 20px 24px;
}

.column-aside {

    &__title {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.32px;
        color: #1f2937;
        margin-bottom: 32px;
        &:first-child {
            margin-bottom: 24px;
        }
    }

    &__body {
    }

    &__range-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__list {
        
    }

    &__item {
        font-size: 14px;
        letter-spacing: 0.28px;
        color: #1f2937;
        padding-bottom: 20px;
    }

    &__more {
        font-size: 14px;
        letter-spacing: 0.28px;
        color: #eb5757;
        padding-left: 34px;
    }
}

.info-range {

    &__text {
        font-size: 14px;
        letter-spacing: 0.28px;

  color: #4b5563;
    }

    &__price {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
        color: #1f2937;
    }

    &__range {
        appearance: none;
        outline: none;
        width: 284px;
        height: 4px;
        background: #E3E3E6;

        &::-webkit-slider-thumb {
            appearance: none;
            width: 12px;
            height: 12px;
            border: solid 2px #fff;
            background: coral;
            border-radius: 50%;
            cursor: pointer;
            
        }
        
    }
}

//==============================checkbox=====================
.checkbox {
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    input {
        display: none;
    }
    &::before{
        position: absolute;
        content: '';
        top: 0px;
        left: 0;
        width: 18px;
        height: 18px;
        border: solid 1.5px #374151;
    }
    
}

.active {
    &::after{
        position: absolute;
        content: '';
        top: 5px;
        left: 5px;
        width: 8px;
        height: 8px;
        background: #374151;
    }
}
//============================== / checkbox=====================