@import "_aside";

.products-sorting {
    margin-top: 56px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: 1300px) {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    @media (max-width: 500px) {
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
    }

    p {
        display: inline-block;
        font-size: 16px;
        letter-spacing: 0.32px;
        font-weight: 600;
        color: #1f2937;
    }

    span {
        color: #4b5563;
    }

    &__count {
    }
   
    &__sort {
       display: flex;
       gap: 8px;
    }

    &__popup {
        position: absolute;
        content: '';
        border: 1px solid #1f2937;
        border-top: none;
        width: 180px;
        padding: 10px;
        right: 0;
        top: 20px;
        background: #fff;
    }
}

.sort-items {
    padding-right: 19px;
    position: relative;

    svg {
        position: absolute;
        content: '';
        top: 5px;
        right: 0;
        width: 13px;
        height: 8px;
        transition: all 0.4s ease 0s;
        cursor: pointer;
    }
}

.сhoice-sorting {

    svg {
        transform: rotate(180deg);
        transition: all 0.4s ease 0s;
    }
}

.popup-sorting {
    display: block;
    background: #fff;
    transition: all 0.4s ease 0s;
    z-index: 2;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__item {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.chosen {
    font-weight: 600;
}

//============================Products=================================
.products {
    display: flex;
    gap: 20px;
    position: relative;
    margin-bottom: 48px;

    @media (max-width:1300px){
        margin-bottom: 15px;
        display: block;
    }

    &__aside { 
    }

    &__body {
        flex: 1 1 auto;
    }
}

.no-scroll {
    scroll-behavior: smooth;
}

//============================ / Products=================================

//card================

.products {

    &__cards {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        @media (max-width:1300px){
            justify-content: center;
        }
    }

    &__card {
        border: solid 1px #e5e7eb;
        width: 297px;
        position: relative;
    }
}
.card {
    display: flex;
    flex-direction: column;

    &__wish {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(40px);
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;

        svg {
            width: 20.9px;
            height: 18.2px;
        }
    }
    
    &__image {
        width: 100%;
        height: 343px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        flex: 1 1 auto;
        padding: 16px;
        display: flex;
        flex-direction: column;
    }

    &__description {
        flex: 1 1 auto;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        letter-spacing: 0.28px;
        color: #1f2937;
        margin-bottom: 15px;
    }

    &__footer {
    }
}

.active-wish {

    svg {
        fill: #eb5757;

        path {
            stroke: #eb5757;
        }
    }
   
}
.footer-card {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &__prices {
        font-size: 18px;
    }

    &__price {
        font-weight: 600;
        color: #374151;
        margin-bottom: 7px;
    }

    &__sale {
        color: #9ca3af;
        text-decoration: line-through;
    }

    &__orders {
    }

    &__counts {
        font-size: 16px;
        color: #4b5563;
        margin-bottom: 7px;
        text-align: right;
    }

    &__new {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 3px 12px;
        background-color: #111827;
        font-size: 12px;
        color: #fff;
    }
}

//===========/ card=====================================


//===========pagination====================================
.pagination {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;

    @media (max-width: 1300px) {
        justify-content: center;
    }

    &__list {
        display: flex;
        gap: 10px;
    }

    &__item {
        display: flex;
        border: solid 1px #d1d5db;
        
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #4b5563;
        width: 32px;
        height: 32px;
        
        &:hover {
            svg {
                path {
                    stroke: #fff;
                }
            }
            color: #fff;
            background: #1f2937;
        }
    }

}
.arrow-left {
    background: #d1d5db;
    
}
.arrow-right {
    background: #d1d5db;
    svg {
        transform: rotate(180deg);
        
    }
}

.active-pagination-link {
    color: #fff;
    background: #1f2937;
}
//===========/ pagination=====================================